.container{
    text-align: center;
}

p {
    font-weight: bold;
    margin-top: 50px;
}

h1{
    margin-top: 10px;
}

.mat-raised-button{
    margin: 5px;
    color: #000;
    background-color: #ffffff;
}